.world-map-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    height: calc(100% - 60px); /* Subtract the height of the Navbar */
  }
  
  .sidebar-column {
    flex: 1;
    width: 16.666%; /* 1/6 of the screen */
  }
  
  .map-column {
    flex: 5;
    width: 83.334%; /* 5/6 of the screen */
  }
  